{#
/**
 * @file
 *
 * Customers also bought block template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - products: The rendered products.
 *
 * @ingroup themeable
 */
#}

<div{{attributes}} class="commerce-customers-also-bought-block">
  {% for product in products %}
    {{ product }}
  {% endfor %}
</div>
